<header class="header">

    <nav class="navbar container">

        <a href="index.html" class="logo">

            <img src="assets/logo/logo-kkn.png" alt="Logo">

            <div class="logo__text">

                <h2>Padukuhan Geger</h2>

                <span>Kalurahan Pengkol</span>

            </div>

        </a>

        <ul class="nav__menu">

            <li>

                <a href="index.html" class="nav__link">

                    Home

                </a>

            </li>

            <li>

                <a href="profil.html" class="nav__link">

                    Profil

                </a>

            </li>

            <li>

                <a href="potensi.html" class="nav__link">

                    Potensi Padukuhan

                </a>

            </li>

            <li>

                <a href="umkm.html" class="nav__link">

                    UMKM

                </a>

            </li>

            <li>

                <a href="galeri.html" class="nav__link">

                    Galeri

                </a>

            </li>

            <li>

                <a href="kontak.html" class="nav__link">

                    Kontak

                </a>

            </li>

        </ul>

        <button class="nav__toggle">

            <i class="fa-solid fa-bars"></i>

        </button>

    </nav>

</header>